body {
    font-family: "Roboto";
    margin: 0;
}

h1,
h2 {
    color: #f9faf8;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
}

.section1 p,
.links li {
    color: #E5E7EB;
    font-size: 18px;
}

.links li {
    display: inline-block;
    padding: 12px;
}

.header, 
.section1 {
    background-color: #1F2937;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.section1 {
    height: 500px;
    column-gap: 55px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section1 h2,
.section1 p{
    width: 33%;
}

.section1 img {
    max-width: 35%;
}

/*
.section1 p{
    flex-basis: 33%;
}
*/
.section1 button{
    flex-basis: 0;
}