body {
    font-family: "Roboto";
    margin: 0;
}

h1,
h2,
button {
    color: #f9faf8;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
}

.section1 p,
.links li {
    color: #E5E7EB;
    font-size: 18px;
}

.links li {
    display: inline-block;
    padding: 12px;
}

.header, 
.section1 {
    background-color: #1F2937;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.section1 {
    max-height: 400px;
    /*column-gap: 425px;*/
    padding: 100px 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section1 h2,
.section1 p{
    margin: 5px;
    width: 30%;
}

.section1 img {
    max-width: 40%;
    align-self: flex-end;
}

/*
.section1 p{
    flex-basis: 33%;
}
*/
.section1 button{
    margin: 5px;
    flex-basis: 0;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #3882f6;
}