body {
    font-family: "Roboto";
    margin: 0;
}

h1,
h2,
button {
    color: #f9faf8;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
}

.section1 p,
.links li{
    color: #e5e7eb;
    font-size: 18px;
}

.links li {
    display: inline-block;
    padding: 12px;
}

.header, 
.section1 {
    background-color: #1F2937;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.section1 {
    max-height: 300px;
    padding: 5% 15%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section1 h2,
.section1 p{
    margin: 0px;
    width: 33%;
}

.section1 img {
    max-width: 35%;
    align-self: flex-end;
}

.section1 button{
    margin: 1% 0px;
    flex-basis: 0;
    padding: 5px 25px;
    border-radius: 8px;
    background-color: #3882f6;
}

.subtext,
.images{
    display: flex;
    flex-basis: 0;
    justify-content: center;
    margin: 0% 25%;
}

.subtext p{
    text-align: center;
    padding: 0px 3%;
}

.images img{
    max-width: 19%;
    padding: 0px 3%;
}

h3{
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}