body {
    font-family: "Roboto";
    margin: 0px 0px;
}

h1,
h2,
button {
    color: #f9faf8;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
}

.section1 p,
.links li{
    color: #e5e7eb;
    font-size: 18px;
}

.links li {
    display: inline-block;
    padding: 12px;
}

.header, 
.section1{
    background-color: #1F2937;
    padding: 0% 15%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section1 {
    max-height: 300px;
    padding: 5% 15% 12%;
}

.section1 h2,
.section1 p{
    margin: 0px;
    width: 34%;
}

.section1 img {
    max-width: 35%;
    float: right;
}

.section1 button{
    margin: 1% 0px;
    flex-basis: 0;
    padding: 5px 25px;
    border-radius: 8px;
    background-color: #3882f6;
}

.subtext,
.images{
    display: flex;
    flex-basis: 0;
    justify-content: center;
    margin: 0% 25%;
}

.subtext p{
    text-align: center;
    margin: 10px 3%;
}

.images img{
    border-style: solid;
    border-width: 1%;
    border-radius: 10px;
    border-color: #3882f6;
    max-width: 18%;
    margin: 0px 3%;
}

h3{
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin: 2.5%;
}

.subtext{
    margin-bottom: 5%;
}

.section3{
    color: #1F2937;
    background-color: #e5e7eb;
    padding: 7% 25%;
}

#quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin: 0px 0px;
}

#signature{
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0px;
    text-align: right;
}

.section4{
    margin: 5% 15%;
    padding: 3% 7%;
    background-color: #3882f6;
    border-radius: 10px;
}

.section4 h4{
    margin: 0px 0px;
    color: #f9faf8;
}

.section4 p{
    margin: 0px 0px;
    color: #e5e7eb;
}

.section4 button{
    background-color: #3882f6;
    padding: .5% 3%;
    border: 1px solid #f9faf8; 
    border-radius: 5px;
    float: right;
}

.footer p{
    margin: 0px 0px;
    padding: 2%;
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
}